
<p-toast></p-toast>

<p-toast position="bottom-center" key="confirm" [style]="{textAlign: 'center'}" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="card" style="display: flex; justify-content: space-between; align-items: center;">
    <p-button (click)="changeWeek('-')" severity="danger" icon="pi pi-angle-double-left" label="Önceki Hafta"></p-button>
    <p-messages severity="success">
        <ng-template pTemplate>            
            <div class="ml-2">Dr.Emre Yılmaz Randevu Sayfası</div>
        </ng-template>
    </p-messages>
    <p-button (click)="changeWeek('+')" label="Sonraki Hafta" icon="pi pi-angle-double-right" iconPos="right"></p-button>
</div>

<p-table [value]="hours" styleClass="p-datatable-gridlines"  [tableStyle]="{ 'min-width': '50rem' }">    
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center;">#</th>
            @for(d of days; track d){
                <th style="text-align: center;">                    
                    <p>{{d.date | date:'dd.MM.yyyy'}}</p>
                    <h2>{{d.day}}</h2>
                </th>
            }  
        </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-h>      
        <tr>
            <td style="width:10px">
                {{h.hour}}
            </td>
            @for(d of h.days; track d){
                <td style="position: relative; width: 15%;">
                    @for(p of d.patients; track p){
                        <p-chip (click)="showConfirm(h.hour,d.day, p)" label="{{p}}" [style]="{margin: '5px'}"></p-chip>
                    }
                    <p-button 
                        [style]="{position: 'absolute', right: '0', top: '0'}"
                        [rounded]="true" 
                        [text]="true" 
                        severity="danger" 
                        (click)="createAppointment(h.hour,d.day)" icon="pi pi-plus">
                    </p-button>
                </td>
            }
        </tr>        
    </ng-template>
</p-table>