

@if(!isloaded){
    <div class="row">
        @for(d of doctors; track d){
        <div class="col-3">
            <div class="card flex justify-content-center">
                <p-card>
                    <p-skeleton width="13rem" height="3rem" [style]="{marginBottom: '10px'}"></p-skeleton>
                    <p-skeleton width="5rem" height="1.3rem"></p-skeleton>
                    <ng-template pTemplate="header">
                        <p-skeleton width="100%" height="25rem"></p-skeleton>
                    </ng-template>
                    <p [style]="{minHeight: '100px', maxHeight: '100px'}">
                        <p-skeleton width="100%" height="10rem"></p-skeleton>
                    </p>
                    <ng-template pTemplate="footer">
                        <p-skeleton width="100%" height="3rem"></p-skeleton>                    
                    </ng-template>
                </p-card>
            </div>
        </div>
        }
    </div>
}@else {
    <div class="row">
        @for(d of doctors; track d){
        <div class="col-3">
            <div class="card flex justify-content-center">
                <p-card [header]="d.name" [subheader]="d.specialty">
                    <ng-template pTemplate="header">
                        <img alt="Card"
                            [src]="'/assets/' + d.image" />
                    </ng-template>
                    <p [style]="{minHeight: '100px', maxHeight: '100px'}">
                        {{d.biography}}
                    </p>
                    <ng-template pTemplate="footer">
                        <p-button routerLink="/appointment/{{d}}" label="Randevu Oluştur" icon="pi pi-calendar" severity="success" [style]="{width: '100%'}"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
        }
    </div>
}


